*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: pink;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.pao img{
    max-width: 50%;
}

.croissant img {
    max-width: 55%;
}

.express img {
    max-width: 25%;
}


.navbar {
    background-color: greenyellow;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 10%;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 30px;
    bottom: 23;
}

